.contact-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    justify-content: space-evenly;
    max-width: 350px;
}

input{
    padding: 7px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.3s ease;
    outline: none;
}

input:focus{
    box-shadow: 
    0 0 0 1px #646cff,
    /* The second shadow is the outer, soft, transparent ring */
    0 0 0 4px rgba(0, 123, 255, 0.2); 
  border-color: #646cff;
}


textarea{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.3s ease;
    outline: none;

}

textarea:focus{
    box-shadow: 
    0 0 0 1px #ccc,
    0 0 0 4px #e0e0e051;
    border-color: #ccc;
}

