footer{
    width: 100%;
    padding: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

footer span{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.icons{
    display: flex;
    /* background-color: aliceblue; */
    width: 50%;
    justify-content: space-around;
    max-width: 300px;
    border-radius: 50%;

}

.icon{
    font-size: 1.8rem;
    cursor: pointer;
}

