*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#root, .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}